// @import "./_fonts.scss";

$main-font: 'Orbitron', sans-serif;

body {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .wrapper {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-rows: 10% 30% 60%;

    .wrapper__input-text {
      margin: 1% 0%;
      resize: none;
    }

    .wrapper__container {
      width: 80%;
      height: 60%;
      margin: 1% auto;
      background-color: #fff;
      display: grid;
      grid-template-columns: repeat(15, 6.67%);
      grid-template-rows: repeat(5, 0.9fr);
      grid-template-areas:
      'Backquote Digit1 Digit2 Digit3 Digit4 Digit5 Digit6 Digit7 Digit8 Digit9 Digit0 Minus Equal Backspace Backspace'
      'Tab Tab KeyQ KeyW KeyE KeyR KeyT KeyY KeyU KeyI KeyO KeyP BracketLeft BracketRight Backslash'
      'CapsLock CapsLock KeyA KeyS KeyD KeyF KeyG KeyH KeyJ KeyK KeyL Semicolon Quote Enter Enter'
      'ShiftLeft ShiftLeft ShiftLeft KeyZ KeyX KeyC KeyV KeyB KeyN KeyM Comma Period Slash ShiftRight ShiftRight'
      'ControlLeft MetaLeft AltLeft Space Space Space Space Space Space Space Space Space Space AltRight ControlRight';

      .wrapper__container__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3A424E;
        margin: 4px 4px;
        border-radius: 2%;
        color: #fff;
        transition: all 0.1s ease-in-out;
        user-select: none;

        &:active {
          transform: scale(0.9);
          background-color: #8f5ae6;
        }

        /* &:hover {
          transform: scale(0.9);
        } */
      }

      .wrapper__container__button-nonchar {
        background-color: #232830;
      }

      .wrapper__container__button-pressed {
        transform: scale(0.9);
        background-color: #8f5ae6;
      }
    }
  }
}
